# __Extracting all Bifidobacterium strains__

### Loading and cleaning the required datasets

Import required libraries

In [29]:
import pandas as pd
import numpy as np
import time
from pathlib import Path
from collections import defaultdict

We will now load `names.dmp` and `nodes.dmp` as pandas DataFrames from the `new_taxdump_2025-12-01.zip` archive.  
This allows us to work with the data in a clean and structured way.

> Note: These files are not included in the repository due to their large size.  
> You can download the `new_taxdump_2025-12-01` snapshot from the NCBI FTP site:  
> [https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/](https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/)

In [30]:
names_path = Path('../../data/raw/new_taxdump_2025-12-01/names.dmp')
names = pd.read_csv(names_path,sep=r"\t\|\t",engine='python',header=None)
names.columns = ['tax_id','name_txt','unique_name','name_class']

In [31]:
names.head()

   tax_id  name_txt                     unique_name              name_class
0       1       all                             NaN              synonym\t|
1       1      root                             NaN      scientific name\t|
2       2  Bacteria             Bacteria <bacteria>      scientific name\t|
3       2  bacteria           bacteria <blast name>           blast name\t|
4       2  bacteria  bacteria <genbank common name>  genbank common name\t|

In [32]:
names['name_class'] = names['name_class'].str.strip('\t|') # Remove unwanted characters from the 'name_class' column

In [33]:
names.head(3)

   tax_id  name_txt          unique_name       name_class
0       1       all                  NaN          synonym
1       1      root                  NaN  scientific name
2       2  Bacteria  Bacteria <bacteria>  scientific name

In [34]:
nodes_path = Path('../../data/raw/new_taxdump_2025-12-01/nodes.dmp')
nodes = pd.read_csv(nodes_path,engine='python',sep=r'\t\|\t',header=None,usecols=[0,1,2],names=['tax_id','parent_tax_id','rank'])

In [35]:
nodes.head()

   tax_id  parent_tax_id     rank
0       1              1  no rank
1       2         131567   domain
2       6         335928    genus
3       7              6  species
4       9          32199  species

### Traversing the Bifidobacterium sub-tree

Since the NCBI taxonomy nodes form a hierarchical tree, I will construct a dictionary mapping parent IDs to their children to efficiently retrieve all descendants of the genus *Bifidobacterium*.

Now that we cleaned __names__ and __nodes__, we need to identify the tax_id corresponding to the genus *Bifidobacterium*

In [36]:
_ = names[(names['name_txt'].str.contains('bifido',case=False)) & (names['name_class'] == 'scientific name')]

In [37]:
_.iloc[0]

tax_id                    1678
name_txt       Bifidobacterium
unique_name                NaN
name_class     scientific name
Name: 7682, dtype: object

Bifidobacterium genus taxId is 1678

In [38]:
bf_tax_id = _.iloc[0,0]
bf_tax_id

np.int64(1678)

In [39]:
# Build a mapping from parent tax_id to list of children
children = defaultdict(list)
for i,row in nodes.iterrows():
    parent = row['parent_tax_id']
    child = row['tax_id']
    children[parent].append(child)

In [40]:
unseen = [bf_tax_id]  # nodes to explore
found = set()   # store all found descendant tax_ids

while unseen:
    actual = unseen.pop()# take the next node to explore

    for child in children.get(actual, []):
        if child not in found: # skip if already found to avoid duplicates
            found.add(child)
            unseen.append(child)

In [41]:
strain_ids = nodes.loc[(nodes['tax_id'].isin(found)) &
                       (nodes['rank'].isin(['strain', 'no rank'])),
                       'tax_id'
                       ]  # Collect all tax_ids whose rank is either 'no rank' or 'strain'

In [42]:
len(strain_ids) # We have 161 taxids

161

Merge the `strain_ids` df with the `names` DataFrame to create a dataset containing both tax_ids and their corresponding names.

In [43]:
bifido_strains = pd.merge(left=strain_ids,right=names[names['name_class']=='scientific name'][['tax_id','name_txt']],on='tax_id',how='left')

In [45]:
bifido_strains.tail()

      tax_id                                   name_txt
156  1457184   Bifidobacterium longum subsp. longum 72B
157  1457185   Bifidobacterium longum subsp. longum EK5
158  1457186  Bifidobacterium longum subsp. longum EK13
159  2608897               unclassified Bifidobacterium
160  3436925              Bifidobacterium longum LL6991

### Determining whether the strains possess the hutH gene

To address this question, we will use the Biopython library, specifically the `Entrez` module, to retrieve relevant genomic information.

In [ ]:
from Bio import Entrez

Entrez.email = "eliaszorrillagaldon@gmail.com"

# Prepare a list of tax_ids to query NCBI
taxids = bifido_strains["tax_id"].astype(int).tolist()

results = []


# Query the NCBI protein database to check whether each strain has the HutH gene (EC 4.3.1.3)
# Using Entrez.esearch, we retrieve the count of matching proteins for each tax_id
# If the count is greater than 0, we record that HutH is present


for taxid in taxids:
    term = f"txid{taxid}[Organism:exp] AND 4.3.1.3[EC Number]" 

    handle = Entrez.esearch(
        db="protein",
        term=term,
        retmax=0
    )
    record = Entrez.read(handle)
    handle.close()

    count = int(record["Count"])

    results.append({
        "tax_id": taxid,
        "HutH": count > 0})

    time.sleep(0.34)  # NCBI rate limit

# 2. Save the results
df_out = pd.DataFrame(results)

Merge the HutH results with the original bifido_strains DataFrame. 

This adds the strain names to the final output so final_df includes both tax_id, HutH presence, and the strain name

In [ ]:
final_df = pd.merge(left=df_out,right=bifido_strains,on='tax_id',how='outer')

### Save the results

Export the DataFrame containing HutH presence/absence for each strain to a `.csv` file for later analysis or sharing.

In [52]:
folder_path = Path('../../data/processed')
final_df.to_csv(folder_path/"histidine_ammonia_lyase_presence_01.csv", index=False)